

<div class="jumbotron">
    <h1 class="font-weight-bold display-4">Showing Gift Occasions For {{name}}!</h1>
    <hr class="my-4" />
  </div>
  <div id="theId" data-occasionid="{{id}}"></div>

  <div class="container">
    <div class="row">
      <div class="col-6">

        <h1 class="">Create a new occasion!</h1>
        <form onsubmit="createGiftOccasion()">
          <div class="form-group flex-column">
            <label>Name of Occasion:</label>
            <input
              type="text"
              placeholder="Enter name of occasion"
              class="form-control"
              id="occasionName"
            />
             <label>Date of occasion:</label>
            <input
              type="Date"
              id="occasionDate"
            />
            {{!--
            <label>Do you want an email reminder a week before?</label>
            <input data-val='true' type="checkbox" id="reminder" value="true"> --}}
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
      </div>
      {{#if giftOccasions.length}}
        <div class="col-6">
          <h2 class="giveSpace">Your Giftee's Occasions!</h2>
          {{#each giftOccasions as |giftOccasion|}}
            <div class="row-mb-2 linkNames giveSpace" > <a href="/giftoccasion/{{giftOccasion.id}}">{{giftOccasion.occasion}}</a>
            <button
                  class="btn btn-sm btn-danger targetRegistry deleteRegistry ml-5"
                  data-postId="{{giftOccasion.id}}"
                  onclick="deleteGiftOccasions(event)"
                >DELETE</button></div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
