<div class="jumbotron">
  <h1 class="font-weight-bold display-4 makeRoom ">{{occasion}} gift idea list </h1>
  <hr class="my-4" />
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div id="theId" data-occasion="{{id}}"></div>

      <h1 class="">Put a new gift idea on the list!</h1>
      
      <form>
        <div class="form-group" onsubmit="createGift()" >
          <label>Name of gift:</label>
          <input
            type="text"
            placeholder="Enter name of gift"
            class="form-control"
            id="occasionGift">
          <button onclick="createGift()" id="submitNew" type="submit" class="btn">Submit</button>
        </div>
      </form>
    </div>
    {{#if giftIdeas.length}}
      <div class="col-6">
        <h2 class="mt-3 giveSpace">Gift Ideas for their {{occasion}}:</h2>
        <label class="giveSpace label"> Click item to go to amazon page</label>
        {{#each giftIdeas as |giftIdea|}}
          <div class="linkNames giveSpace"> <a class="showPointer" data-linkid="{{toLowerCase giftIdea.gift}}" onclick="goToLink(event)" target="_blank">{{giftIdea.gift}}</a>
          <button
                  class="btn btn-sm btn-danger deleteGift ml-5"
                  data-postId="{{giftIdea.id}}"
                  onclick="deleteGiftIdea(event)"
                >DELETE</button></div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>