{{#if logged_in}}

  <div class="jumbotron">
    <h1 class="font-weight-bold display-4">Welcome {{username}}!</h1>
    <hr class="my-4" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">

        <h1 class="">Create a new Gift list!</h1>
        <form>
          <div class="form-group">
            <label>Name of giftee:</label>
            <input
              type="text"
              placeholder="Enter name of person"
              class="form-control"
            />
            <button class="btn">Submit</button>
          </div>
        </form>
      </div>
      {{#if giftees.length}}
        <div class="col-6">
          <h2>Your Giftee's!</h2>
          {{#each giftees as |giftee|}}
            <div> <a href="/giftee/{{giftee.id}}">{{giftee.name}}</a></div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-6">

        <h1 class="">Create a new Registry!</h1>
        <form>
          <div class="form-group">
            <label>Name of registry:</label>
            <input
              type="text"
              placeholder="Enter name of person"
              class="form-control"
            />
            <button class="btn">Submit</button>
          </div>
        </form>
      </div>
      {{#if registries.length}}
        <div class="col-6">
          <h2>Your Registry's!</h2>
          {{#each registries as |registry|}}
            <div> <a href="/giftee/{{registry.id}}">{{registry.name}}</a></div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}