<div class="jumbotron">
  <h1 class="font-weight-bold display-4 makeRoom">{{name}}</h1>
  <hr class="my-4" />
</div>

<div id="theId" data-name="{{id}}"></div>

<div class="container">
  <div class="row">
    <div class="col-6">

      <h1 class="">Put a new gift on the registry!</h1>
      <form>
        <div class="form-group" onsubmit="addRegistryGift()" >
          <label>Name of gift:</label>
          <input
            type="text"
            placeholder="Enter name of gift"
            class="form-control"
            id="giftName">
          <button onclick="addRegistryGift()" id="submitNew" data-postId="{{id}}" type="submit" class="btn">Submit</button>
        </div>
      </form>
      <div id="theId" data-registryId="{{id}}"></div>
    </div>
    {{#if registryGifts.length}}
      <div class="col-6">
        <h2 class="giveSpace">What I would like:</h2>
        <label class="giveSpace label"> Click item to go to amazon page</label>
        {{#each registryGifts as |registryGift|}}
          <div data-gifts="{{registryGift.gift}}" class="ml-5 row-mb-2 linkNames giveSpace gifts"> <a class="showPointer" id="showPointer" data-linkid="{{toLowerCase registryGift.gift}}" onclick="goToLink(event)" target="_blank">{{registryGift.gift}}</a>
          <button
                  class="btn btn-sm btn-danger targetRegistry deleteRegistry ml-5"
                  data-postId="{{registryGift.id}}"
                  onclick="deleteRegistryGift(event)"
                >DELETE</button></div>
        {{/each}}
        </div>
      </div>
    {{/if}}
    
  </div>
</div>
